# Created by .ignore support plugin (hsz.mobi)
### Java template
*.class

# Package Files #
*.war
*.ear
*.bin
*.abi

### Gradle template
.gradle
build
gradle.properties
secring.gpg

### output
dist*
logs
start.out

# Avoid ignoring Gradle wrapper jar file (.jar files are usually ignored)
!gradle-wrapper.jar

# Cache of project
.gradletasknamecache

# Work around https://youtrack.jetbrains.com/issue/IDEA-116898
# gradle/wrapper/gradle-wrapper.properties

.idea
*.iml

# OS X
.DS_Store

.settings/
.classpath
.project
bin/
build_chain.sh
console.tar.gz
nodes/
console/
out/

wecross.toml
src/main/resources/stubs/
src/test/resources/stubs/
*stub.toml
*.p12
*.pem
*.crt
*.key
*_sk
*.keystore
*.truststore
db/
routers/
null/
verifiers/
/src/test/resources/verifier.toml
