name: Publish binaries

on:
  release:
    types: [prereleased]

jobs:
  build:
    name: Publish binaries
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v1
    - uses: actions/setup-node@v2-beta
      with:
        node-version: '10'
    - name: Set up JDK 1.8
      uses: actions/setup-java@v1
      with:
        java-version: 1.8
    - name: Build with Gradle
      run: ./gradlew assemble
    - name: Download plugin
      run: cd dist/ && bash download_plugin.sh BCOS2 v1.1.1 && bash download_plugin.sh Fabric1 v1.1.1 && bash download_pages.sh v1.1.1  && rm -rf src && cd -
    - name: Pack
      run: chmod +x dist/*.sh && mv dist WeCross && tar -zcvf WeCross.tar.gz WeCross
    - name: Checksum
      run: md5sum WeCross.tar.gz > WeCross.tar.gz.md5
    - name: Upload binaries to release
      uses: svenstaro/upload-release-action@v1-release
      with:
        repo_token: ${{ secrets.GITHUB_TOKEN }}
        file: WeCross.tar.gz
        asset_name: WeCross.tar.gz
        tag: ${{ github.ref }}
        overwrite: true

    - name: Upload checksum to release
      uses: svenstaro/upload-release-action@v1-release
      with:
        repo_token: ${{ secrets.GITHUB_TOKEN }}
        file: WeCross.tar.gz.md5
        asset_name: WeCross.tar.gz.md5
        tag: ${{ github.ref }}
        overwrite: true
